<div>
    <i class="fa fa-check"></i>
    default:
    <tree #tvDemo 
              [data]="data"
              [config]="config"
              [draggable]="true"
              [dropAllowed]="dropAllowed"
              [dragTarget]="dragTarget"
              (toggle)="onToggle( $event )"
              (drop)="drop( $event )"
              (changeDragTarget)="changeDragTarget( $event )"
              (toggle)="onToggle( $event )"
              (change)="onChange( $event )">
    </tree>
    <div>
        selected id: {{selectedId}}
    </div>
</div>
<div>
    <a routerLink="/" routerLinkActive="active">Back</a>
</div>
